<NavBar />
<div class="jumbo">
    <h2>Contact me</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate dignissimos minima excepturi iusto possimus earum saepe qui, quod a, distinctio perspiciatis consectetur eligendi soluta, quisquam ullam quia asperiores! Repellat, quia.</p>
    <address>
        Alex Stocki
        <p>
            Instagram - photography
            Github - dev
        </p>
    </address>
    <a href="https://instagram.com/stockialex" target="_blank">instagram</a>
</div>