<NavBar />
<Jumbo>
  <h2>Fulbito App</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis impedit laboriosam doloremque quas eius voluptatem excepturi repellat debitis nobis, laborum numquam ad alias nulla error vitae? Ipsam amet repellendus impedit?</p>
</Jumbo>